@mixin center-font() {
    font-size: 1.5em;
    font-family: cursive;
    text-justify: center;
}

#main {
    position: fixed;
    margin-left: 0;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    #canvas {
        height: 300px;
        width: 300px;
    }
    .slidecontainer {
        width: 50%;
    }
    .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 25px;
        background: #9b4747;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
        border-radius: 15px;
    }
    .slider:hover {
        opacity: 1;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: #4CAF50;
        border-radius: 100%;
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: #7fb4e0;
        cursor: pointer;
    }
    #slider-value {
        width: 100%;
        font-family: cursive;
        font-size: 1.5em;
        text-align: center;
    }
    #color {
        @include center-font();
        height: 2em;
    }
    #color-sample {
        width: 6em;
        height: 4em;
    }
}

#tmp {
    position: absolute;
    top: 2em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: all;
    transition-duration: 1s;
    align-items: center;
    z-index: 2;
    .tmp-element {
        position: relative;
        font-family: cursive;
        margin-bottom: 1em;
        width: 20em;
        background-color: rgb(130, 184, 209);
        border-radius: 3em;
        animation: move-up 1.5s linear 0s;
        animation-fill-mode: forwards;
        text-align: center;
    }
    @keyframes move-up {
        0% {
            top: 0;
        }
        100% {
            top: -3em;
            opacity: 0;
        }
    }
}